@font-face{
	font-family: 'Gilroy Regular';
    src: local("Gilroy Regular"), local("Gilroy Regular");
	src: url('./fonts/Gilroy/Gilroy-Regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face{
	font-family: 'Gilroy Bold';
    src: local("Gilroy Bold"), local("Gilroy Bold");
	src: url('./fonts/Gilroy/Gilroy-Bold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face{
	font-family: 'Gilroy Black';
    src: local("Gilroy Black"), local("Gilroy Black");
	src: url('./fonts/Gilroy/Gilroy-Black.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

html {
    margin: 0;
    padding: 0;
}

body {
    width: 1920px;
    margin: 0 auto;
    padding: 0;
}

.blue_bg {
 background-color: #EFF2F9;
}

.blue_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 55px;
    gap: 20px;
    background: #003ADC;
}

.greeting {
    height: 920px;
}

.greeting h1 {
    width: 1195px;
    height: 101px;
    margin-left: 160px;
    margin-top: 20px;
    font-family: 'Gilroy Black';
    font-style: normal;
    font-weight: 900;
    font-size: 115.217px;
    line-height: 101px;
    color: #003ADC;
}

.greeting h1 span {
    color: #714A25;
}

.greeting .logo_line {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
}

.greeting .logo_line .logo {
    margin-left: 8%;
    margin-top: 2%;
}

.greeting .logo_line .logo_button {
    margin-left: 42%;
    margin-top: 2%;
    width: 304px;
}

.greeting .logo_line .logo_button .whatsapp {
    width: 209px;
    height: 20px;
    font-family: 'Gilroy Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding-bottom: 1%;
}

.greeting .logo_line .contact_tel {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gilroy Bold';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    text-align: right;    
    margin-left: 22px;
    margin-top: 3%;
}

.greeting .logo_line .contact_tel a {
    text-decoration: none;
    color: #333333;
}

.greeting nav .post_logo_menu {
    display: inline-flex;
    margin-left: 120px;
    margin-top: 100px;
    list-style-type: none;
    gap: 5px;
    font-family: 'Gilroy Black';
    font-style: normal;
    font-weight: 800;
    font-size: 24.2928px;
    line-height: 29px;
}

.greeting nav .post_logo_menu li a {
    text-decoration: none;
    color: #181940;
}

.greeting .mini_headers {
    width: 925px;
    height: 33.76px;
    margin-left: 160px;
    margin-top: 70px;
    font-family: 'Gilroy Black';
    font-style: normal;
    font-weight: 800;
    font-size: 27.3368px;
    line-height: 33px;
    color: #181940;
}

.greeting .specialization_section {
    display: flex;
    width: 50%; 
    margin-left: 120px;
    margin-top: 20px;
}

.greeting .specialization_section .spec_list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 12px;
}

.greeting .specialization_section .spec_list li {
    display: flex;
    font-family: 'Gilroy Regular';
    font-style: normal;
    padding: 3px 7px;
    font-weight: 400;
    font-size: 27.3368px;
    line-height: 33px;
    color: black;
    background: rgb(206, 217, 247);
    border-radius: 10px;
}

.greeting .bank_pic {
    position: absolute;
    width: 649px;
    left: 1650px;
    top: 285px;
    order: 999;
}

.edu_forms {
    height: 1454px;
}

.advantages {
    height: 845px;
}

.vacancies {
    height: 1269px;
}

.licenses {
    height: 734px;
}

.edu_forms {
    height: 1454px;
}

.areas {
    height: 827px;
}

.teachers {
    height: 1131px;
}

.partners {
    height: 700px;
}

.photos {
    height: 1022px;
}

.faq {
    height: 1810px;
}

.contacts {
    height: 1460px;
}

.footer {
    height: 150px;
}