@font-face{
	font-family: 'Gilroy Regular';
    src: local("Gilroy Regular"), local("Gilroy Regular");
	src: url('./fonts/Gilroy/Gilroy-Regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face{
	font-family: 'Gilroy Medium';
    src: local("Gilroy Medium"), local("Gilroy Medium");
	src: url('./fonts/Gilroy/Gilroy-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face{
	font-family: 'Gilroy Thin';
    src: local("Gilroy Thin"), local("Gilroy Thin");
	src: url('./fonts/Gilroy/Gilroy-Thin.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face{
	font-family: 'Gilroy Bold';
    src: local("Gilroy Bold"), local("Gilroy Bold");
	src: url('./fonts/Gilroy/Gilroy-Bold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face{
	font-family: 'Gilroy Black';
    src: local("Gilroy Black"), local("Gilroy Black");
	src: url('./fonts/Gilroy/Gilroy-Black.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

html {
    margin: 0;
    padding: 0;
}

body {
    width: 1920px;
    margin: 0 auto;
    padding: 0;
}

.blue_bg {
 background-color: #EFF2F9;
}

.blue_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 55px;
    gap: 20px;
    background: #003ADC;
}

.greeting {
    position: relative;
    height: 920px;
}

.greeting h1 {
    width: 1195px;
    height: 101px;
    margin-left: 160px;
    margin-top: 20px;
    font-family: 'Gilroy Black';
    font-style: normal;
    font-weight: 900;
    font-size: 115px;
    line-height: 101px;
    color: #003ADC;
}

.greeting h1 span {
    color: #714A25;
}

.greeting .logo_line {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
}

.greeting .logo_line .logo {
    margin-left: 8%;
    margin-top: 2%;
    width: 330px;
}

.greeting .logo_line .logo_button {
    margin-left: 42%;
    margin-top: 2%;
    width: 304px;
}

.greeting .logo_line .logo_button .whatsapp {
    width: 209px;
    height: 20px;
    font-family: 'Gilroy Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    padding-bottom: 1%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.greeting .logo_line .contact_tel {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gilroy Bold';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    text-align: right;    
    margin-left: 22px;
    margin-top: 3%;
}

.greeting .logo_line .contact_tel a {
    text-decoration: none;
    color: #333333;
}

.greeting nav .post_logo_menu {
    display: inline-flex;
    margin-left: 120px;
    margin-top: 100px;
    list-style-type: none;
    gap: 5px;
    font-family: 'Gilroy Black';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
}

.greeting nav .post_logo_menu li a {
    text-decoration: none;
    color: #181940;
}

.greeting .mini_headers {
    width: 925px;
    height: 33px;
    margin-left: 160px;
    margin-top: 70px;
    font-family: 'Gilroy Black';
    font-style: normal;
    font-weight: 800;
    font-size: 27px;
    line-height: 33px;
    color: #181940;
}

.greeting .specialization_section {
    display: flex;
    width: 50%; 
    margin-left: 120px;
    margin-top: 20px;
}

.greeting .specialization_section .spec_list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 12px;
}

.greeting .specialization_section .spec_list li {
    display: flex;
    font-family: 'Gilroy Regular';
    font-style: normal;
    padding: 3px 7px;
    font-weight: 400;
    font-size: 27px;
    line-height: 33px;
    color: black;
    background: rgb(206, 217, 247);
    border-radius: 10px;
}

.greeting .bank_pic {
    position: absolute;
    width: 649px;
    left: 60%;
    top: 285px;
    z-index: 20;
}

.edu_forms {
    position: relative;
    height: 1240px;
}

.edu_forms .education_anchor_blocks {
    display: flex;
    flex-wrap: wrap;
    column-gap: 180px;
    margin-left: 160px;
    margin-top: 30px;
}

.edu_forms .education_anchor_blocks .anchor_block {
    position: relative;
    width: 712px;
}

.edu_forms .education_anchor_blocks .anchor_block h3 {
    font-family: 'Gilroy Black';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 162%;
    color: #181940;
    margin-top: -30px;
    margin-bottom: 10px;
}

.edu_forms .education_anchor_blocks .anchor_block span {
    position: relative;
    font-family: 'Gilroy Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 162%;
    color: #181940;
    z-index: 10;
}

.edu_forms .education_anchor_blocks .anchor_block img {
    position: absolute;
    height: 157px;
    left: 570px;
    top: 140px;
    z-index: 0;
}

.edu_forms .education_anchor_blocks .anchor_block .anchor_header {
    font-family: 'Gilroy Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 162%;
    display: flex;
    align-items: center;
    color: #003ADC;
}

.edu_forms h2 {
    width: 200px;
    margin-left: 160px;
    margin-top: 270px;
    margin-bottom: 0px;
    font-family: 'Gilroy Black';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 69px;
    color: #181940;
}

.edu_forms h2 span {
    color: #714A25;
}

.edu_forms button {
    width: 283px;
    height: 64px;
    margin-left: 818px;
    margin-top: 80px;
}

.edu_forms button p {
    font-family: 'Gilroy Thin';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.edu_forms .banknotes {
    position: absolute;
    width: 630px;
    left: 1300px;
    top: 935px;
    z-index: 10;
}

.advantages {
    position: relative;
    height: 845px;
}

.advantages h2 {
    padding-top: 129px;
    margin-left: 536px;
    width: 847px;
    height: 138px;
    font-family: 'Gilroy Black';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 69px;
    text-align: center;
    color: #181940;
}

.advantages h2 span {
    color: #714A25;
}

.advantages .advantages_blocks {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-left: 370px;
    margin-top: 57px;
}

.advantages .advantages_blocks .adv_block {
    display: flex;
    align-items: center;
    gap: 32px;
    width: 614px;
    height: 112px;
    background: #FFFFFF;
    box-shadow: 10px 8px 39px rgba(192, 192, 192, 0.25);
}

.advantages .advantages_blocks .adv_block .adv_picture {
    width: 76px;
    height: 76px;
    margin-left: 32px;
}

.advantages .advantages_blocks .adv_block .adv_text {
    font-family: 'Gilroy Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #181940;
}

.advantages .diagram {
    position: absolute;
    width: 252px;
    left: 107px;
    top: 720px;
    z-index: 10;
}

.vacancies {
    height: 1269px;
}

.vacancies h2 {
    margin-top: 189px;
    margin-left: 537px;
    width: 847px;
    height: 138px;
    font-family: 'Gilroy Black';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 69px;
    text-align: center;
    color: #181940;
}

.vacancies h2 span {
    color: #714A25;
}

.vacancies .clicker {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    margin-left: 160px;
    gap: 27px;
}

.vacancies .clicker .clicker_button {
    width: 380px;
    height: 93px;
    display: flex;
    height: 93px;
    background: #181940;
    box-shadow: 10px 8px 39px rgba(192, 192, 192, 0.25);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.vacancies .clicker .clicker_button:first-child {
    background: #714A25;
}

.vacancies .clicker .clicker_button p {
    width: 173px;
    height: 32px;
    font-family: 'Gilroy Bold';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 160%;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15em;
    color: #FFFFFF;
}

.vacancies .vac_lists {
    display: flex;
    flex-direction: row;
    gap: 27px;
    margin-left: 160px;
}

.vacancies .vac_lists .column {
    margin-top: 40px;
    padding-left: 5px;
}

.vacancies .vac_lists .column .salary {
    width: 380px;
    font-family: 'Gilroy Black';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 160%;
    color: #181940;
}

.vacancies .vac_lists .column .salary span {
    color: #714A25;
    font-size: 26px;
}

.licenses {
    position: relative;
    height: 734px;
} 

.licenses .mountains {
    position: absolute;
    left: 1492px;
    top: -150px;
    z-index: 10;
    width: 316px;
}

.areas {
    height: 827px;
}

.teachers {
    height: 1131px;
}

.partners {
    height: 700px;
}

.photos {
    height: 1022px;
}

.faq {
    height: 1810px;
}

.contacts {
    height: 1460px;
}

.footer {
    height: 150px;
}